.head {
  font-size: 4vw !important;
  text-align: center;
  padding: 10px
}

.sub-head {
  font-size: 1.5vw !important;
  text-align: center;
}

.page-container {
  width: 100vw;
  display: flex;
  justify-content: center;
  padding: 2vh 0 4vh 0;
}

.card-container {
  width: 45vw !important;
}


